.btn-color{
    background: #B68C5A;
    color: white;
}
.for-font{
    font-size: 72px;
}
.img-section{
    height: 500px;
}
@media only screen and (max-width:576px) {
    .for-font{
        font-size: 30px;
    }
    .header-input input{
        width: 75% !important;
    }
}